version: "3.8"

services:
  frontend:
    restart: always
    container_name: parier-frontend
    ports:
      - "29040:3000"
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - PROXY=${PROXY}
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
        - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
        - OIDC_CLIENT_ID=${OIDC_CLIENT_ID}
        - OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}
        - OIDC_ISSUER=${OIDC_ISSUER}
        - NEXTAUTH_URL=${NEXT_AUTH_URL}
        - AUTH_TRUST_HOST=${AUTH_TRUST_HOST}
        - DEFAULT_POSITION=${DEFAULT_POSITION}
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_URL: "${NEXT_PUBLIC_API_URL}"
      PROXY: "${PROXY}"
      NEXTAUTH_SECRET: "${NEXTAUTH_SECRET}"
      OIDC_CLIENT_ID: "${OIDC_CLIENT_ID}"
      OIDC_CLIENT_SECRET: "${OIDC_CLIENT_SECRET}"
      OIDC_ISSUER: "${OIDC_ISSUER}"
      NEXTAUTH_URL: "${NEXT_AUTH_URL}"
      AUTH_TRUST_HOST: "${AUTH_TRUST_HOST}"
      DEFAULT_POSITION: "${DEFAULT_POSITION}"
